@tailwind base;
@tailwind components;
@tailwind utilities;

.y{
    background-image: url("./assets/webaliser-_TPTXZd9mOo-unsplash 1.png");
}
.b{
    background-image: url("./assets/BG.png");
}
.q{
    background-image: url("./assets/Rectangle 37.png");
}
